cx-Freeze>=7.0.0
Pillow>=9.0.0
pywin32>=305
numpy>=1.24.0
matplotlib>=3.7.0
sympy>=1.11.0

PyQt5~=5.15.11
tkinterdnd2~=0.4.3
opencv-python~=4.13.0.90
vosk~=0.3.45
PyAudio~=0.2.14
pynput~=1.8.1
requests~=2.32.5
rich~=14.3.3
qrcode~=8.2
pygame~=2.6.1
pyautogui~=0.9.54
pvporcupine~=4.0.0
openpyxl~=3.1.5
keyboard~=0.13.5
psutil~=7.2.2
numba~=0.63.1
pywebio~=1.8.4
pypinyin~=0.55.0
docx~=0.2.4
pypiwin32~=223
pyyaml~=6.0.3
tqdm~=4.67.1
packaging~=26.0
torch~=2.10.0
transformers~=5.3.0
tiktoken~=0.12.0
pandas~=3.0.0
nbformat~=5.10.4
regex~=2026.2.28
chainlit~=2.10.0